body {
  /* background-image: url(npcibg.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
.hungama {
  cursor: pointer;
}
/* Powered by CoRover */
.powered {
  position: absolute;
  top: 0;
  right: 2%;
  z-index: 0;
  color: white;
  text-decoration: none;
}
.connecting {
  color: #f3f3f3;
  text-align: center;
  position: absolute;
  top: 32%;
  left: 42%;
}

/* Talk Again */
.talk-again {
  color: white;
  position: absolute;
  z-index: 120;
  text-decoration: underline;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  cursor: pointer;
}

/* Pre-loader */

.preloader {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999;
  background: #2a2a2b;
}

.lds-grid {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 64px;
  height: 64px;
}

.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

/* Video Widget */

.corover-start {
  color: white;
  background: linear-gradient(
    45deg,
    rgb(45, 141, 45) 0%,
    rgb(62, 163, 53) 12%,
    rgb(79, 173, 67) 25%,
    rgb(58, 150, 55) 39%,
    rgb(35, 128, 23) 50%,
    rgb(5, 77, 2) 51%,
    rgb(6, 68, 0) 60%,
    rgb(7, 95, 11) 76%,
    rgb(4, 80, 1) 91%,
    rgb(10, 71, 5) 100%
  );
  border: green 1px solid;
  padding: 17px 10px;
  width: 300px;
  cursor: pointer;
  text-align: center;
  border-radius: 59px;
  /* border: white 3px solid; */
  box-shadow: 0 0 4px #919191;
  cursor: pointer;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
  font-size: 2rem;
}
.aboutCorona {
  line-height: 1rem;
  z-index: 999;
  /*width: px;*/
  position: absolute;
  top: 55%;
  text-align: center;
  left: 30%;
  right: 30%;
  color: #fefefe;
}

.corover-start:hover {
  background: linear-gradient(
    45deg,
    rgb(45, 141, 45) 0%,
    rgb(62, 163, 53) 12%,
    rgb(79, 173, 67) 25%,
    rgb(58, 150, 55) 39%,
    rgb(35, 128, 23) 50%,
    rgb(5, 77, 2) 51%,
    rgb(6, 68, 0) 60%,
    rgb(7, 95, 11) 76%,
    rgb(4, 80, 1) 91%,
    rgb(10, 71, 5) 100%
  );
  border: green 3px solid;
  cursor: pointer;
}

/* Video Chatbot */

.corover-video-overlayer {
  /* display: flex; */
  /* display: none; */
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("assets/background-inner.png");
  transition: 0.7s all;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thinking-modal {
  background: #1e1d1d57;
  width: 100%;
  position: absolute;
  bottom: 20%;
}
.thinkimg {
  margin-left: 20%;
  width: 50%;
  padding: 10px;
}

.corover-video-overlay {
  /* display: flex; */
  /* display: none; */
  /* justify-content: center; */
  background:#f4f7fa !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("assets/background.png");
  transition: 0.7s all;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
.corover-video-chatbot {
    width: 80%;
    height: 100%;
    background: black;
} */

/* Error and Thinking modals */
.mobile-modal,
.online-modal,
.bye-modal,
.mic-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 1000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  height: 30%;
  position: absolute;
  left: 55%;
  top: 75%;
  transform: rotate(90deg);
}

.arrow img {
  height: 100%;
}

/* .thinking-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thinking-modal img {
    width: 35%;
} */

/* NPCI logo */
/*.npci-logo {
  right: 0;
  /*width: 100%;*/
/*   position: fixed;
z-index: 99;
color: white;
display: initial;
}
 */
/* Video */

.video-response,
.idle {
  height: 100vh;
  display: block;
  margin: 0 auto;
}

#subtitle {
  color: white;
  text-align: center;
  font-style: italic;
}

/* Mic button */
.micBtn {
  opacity: 0;
  width: 20%;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 1s;
}

/* .micBtn:hover {
    width: 30%;
} */

#iosButton {
  opacity: 1;
  width: 18%;
  position: absolute;
  bottom: 11px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 1s;
}

/* Close button */
/* .close-btn {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    cursor: pointer;
} */

.hideThis {
  display: none !important;
}

.showMic {
  opacity: 1;
  width: 30%;
  bottom: -30px;
}

.smallScreen {
  z-index: 1;
  position: absolute;
  top: 346px;
  left: -2px;
  max-width: 16%;
  max-height: 30%;
}

/*.smallScreenUser{
  z-index: 1;
  position: absolute;
  top: 346px;
  left: -2px;
  max-width: 16%;
  max-height: 30%;

}*/

/*landscape  video screen css*/
@media (min-aspect-ratio: 16/9) {
  .smallScreen {
    z-index: 1;
    position: absolute;
    top: 60%;
    left: -2px;
    max-width: 16%;
    max-height: 30%;
  }

  .smallScreenUser {
    z-index: 1;
    position: absolute;
    top: 65%;
    left: -2px;
    max-width: 16%;
    max-height: 30%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .smallScreen {
    z-index: 1;
    position: absolute;
    top: 60%;
    left: -2px;
    max-width: 16%;
    max-height: 30%;
  }
}

.smallScreenUser {
  z-index: 1;
  position: absolute;
  top: 60%;
  left: -2px;
  max-width: 16%;
  max-height: 30%;
}
/* #corover-chat-frame, #corover-cb-widget, #corover-frame-body{
  display: block;
  z-index: 9999999999999999;
} */

@media screen and (orientation: landscape) {
  /* #corover-chat-frame, #corover-cb-widget, #corover-frame-body{
    display: none !important;
  }

  #corover-chatbox{
    display: none !important;
  } */
}

@media screen and (orientation: portrait) {
  .privacy {
    left: 0% !important;
    right: 0px !important;
    font-size: 9px;
    color: white;
    z-index: 999;
    position: absolute;
    bottom: 0px !important;
  }

  #supportText {
    position: absolute;
    color: white;
    font-size: 15px !important;
    font-weight: bolder;
    bottom: 25px !important;
    left: 35% !important;
  }
  .connecting {
    color: #f3f3f3;
    text-align: center;
    position: absolute;
    top: 30% !important;
    left: 29% !important;
    font-size: 16px;
  }
  .lds-grid {
    display: inline-block;
    position: absolute;
    top: 40% !important;
    left: 43% !important;
    width: 64px;
    height: 64px;
  }
  .navbar .logo-text {
    font-size: 14px !important;
    font-weight: bolder;
    line-height: 15px /* left: 50px; */;
  }
  .arrow img {
    height: 84%;
  }
  #iosButton {
    opacity: 1;
    width: 31%;
    position: absolute;
    bottom: 43px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 1s;
  }
  .npciLogo {
    display: none;
  }
  #closebtn {
    display: none;
  }
  /*.aboutCorona{
    display: none;
  }*/
  .Hungama_widgetBox {
    display: none;
  }
  /* #corover-chat-frame, #corover-cb-widget, #corover-frame-body{
    display: block;
    z-index: 9999999999999999;
  } */
  .mobile-modal {
    display: block !important;
    background-color: #fff;
  }
  .errortext {
    font-family: sans-serif;
    text-align: center;
    color: #373d3f;
  }
  #port2land {
    width: 150px;
    margin-top: 150px;
  }
}
/*#trending{
    position: absolute !important;
    z-index: 111 !important;
    top: 40px !important;
    height: 500px;
    width: 30px;
    right:0px;
    font-family: roboto;
    background-color: red;
    overflow: scroll;
}
*/

/*trending css*/
:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}
.framewindow {
  background-color: white;
  height: 425px;
  width: 300px;
}
nav::-webkit-scrollbar {
  width: 0.16rem;
}

nav::-webkit-scrollbar-track {
  background: #1e1e24;
}

nav::-webkit-scrollbar-thumb {
  background: #141418;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 999999999;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
  /*font-size: 0.7rem;*/
}

.nav-link {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  margin-right: 10px;
  padding: 10px 0px;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  padding: 10px;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* Large screens */
@media only screen and (min-width: 600px) {
  #closebtn {
    position: absolute;
    cursor: pointer;
    z-index: 999;
    width: 45px;
    top: -7px;
    left: 295px;
  }
  #closebtnfeed {
    position: absolute;
    cursor: pointer;
    z-index: 999;
    width: 45px;
    top: 5px;
    left: 470px;
  }
  #closeUserCam {
    position: absolute;
    cursor: pointer;
    z-index: 999;
    width: 33px;
    top: 60%;
    left: 0px;
  }
  .privacy {
    left: 30%;
    right: 30%;
    font-size: 13px;
    color: white;
    z-index: 999;
    position: absolute;
    bottom: 10px;
  }

  .navbar {
    z-index: 999999999;
    top: 0px;
    width: 0rem;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0px;
  }

  .navbar .logo-text {
    text-align: center;
    left: 70px;
    line-height: 35px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

.closetrend {
  margin-left: 20px;
}
/*#show{
  position: fixed;
  z-index: 9;
  top: 50%;
  right: -69px;
  background-color: #DDDDDD;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}*/
#show {
  position: relative;
  /* border: none; */
  box-shadow: 0 0 0 0 rgba(252, 250, 249, 0.7);
  border-radius: 50%;
  background-color: #5ef01a;
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/jonathanlarradet_copy.png); */
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  /* display: block; */
  line-height: -23em;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  position: fixed;
  z-index: 9;
  top: 36%;
  right: -66px;
  background-color: #e8e3e3ba;
  width: 100px;
  border: 2px white solid;
  height: 30vh;
}

.pulse-button {
  z-index: 99;
  /* position: relative; */
  /* width: 100px;
  height: 100px; */
  /* border: none; */
  box-shadow: 0 0 0 0 rgba(252, 250, 249, 0.7);
  /* border-radius: 50%; */
  background-color: #5ef01a;
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/jonathanlarradet_copy.png); */
  /* background-size:cover;
  background-repeat: no-repeat; */
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover {
  box-shadow: 0 0 0 0 #5ef01a;
  /* border-radius: 50%; */
  background-color: #5ef01a;
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/jonathanlarradet_copy.png); */
  /* background-size:cover;
  background-repeat: no-repeat; */
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

.logoImg {
  width: 150px;
  margin: 10px;
  padding: 10px;
  float: right;
}
.transcpt {
  margin: 50px 0;
  text-transform: uppercase;
}
.btn {
  background-color: rgb(255, 30, 30);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  /* position: fixed; */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(231, 17, 17);
}

.lead-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #0e0e0e61;
  width: 100%;
  height: 100%;
  z-index: 9999999999999;
}

#form-div {
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  border: 1px solid white;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  position: absolute;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#form-div h1 {
  color: white;
  font-size: larger;
  font-family: "Source Sans Pro", sans-serif;
}

.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name {
  background-image: url(https://img.icons8.com/material-sharp/24/000000/user-male-circle.png);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus {
  background-image: url(https://img.icons8.com/material-sharp/24/000000/user-male-circle.png);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#phonenumber {
  background-image: url(https://www.vippng.com/png/full/417-4179190_phone-svg-old-phone-number-icon-png.png);
  background-size: 26px 26px;
  background-position: 11px 11px;
  background-repeat: no-repeat;
}

#phonenumber:focus {
  background-image: url(https://www.vippng.com/png/full/417-4179190_phone-svg-old-phone-number-icon-png.png);
  background-size: 26px 26px;
  background-position: 11px 11px;
  background-repeat: no-repeat;
}

#email {
  background-image: url(https://img.icons8.com/ios-filled/50/000000/circled-envelope.png);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus {
  background-image: url(https://img.icons8.com/ios-filled/50/000000/circled-envelope.png);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: white;
}

#button-blue {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
  color: #53e3a6;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#button-blue:hover {
  background-color: #53e3a6;
  color: white;
  border-radius: 10px;
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}
.npciLogo {
  /* width: 215px; */
  text-align: center;
  position: absolute;
  font-size: 10px;
  font-weight: bolder;
  line-height: 5px;
  left: 42%;
  z-index: 999;
  color: #f3f3f3;
}
.npciLogo img {
  width: 200px;
}

/*mobile devies*/
@media screen and (max-width: 850px) {
  .owl-carousel .item a img {
    height: 30px !important;
  }

  #latestinfo {
    color: white;
    position: absolute;
    left: 10px;
    z-index: 99;
    bottom: 0px;
    font-size: 8px;
  }
  #supportText {
    position: absolute;
    color: white;
    font-size: 9px !important;
    font-weight: bolder;
    bottom: 25px !important;
    left: 25% !important;
    right: 25% !important;
  }
  .connecting {
    color: #f3f3f3;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 33%;
  }
  .lds-grid {
    display: inline-block;
    position: absolute;
    top: 42%;
    left: 45%;
    width: 64px;
    height: 64px;
  }
  #closebtnfeed {
    position: absolute;
    cursor: pointer;
    z-index: 999;
    width: 39px;
    top: -4px;
    left: 254px;
  }
  #closeUserCam {
    position: absolute;
    cursor: pointer;
    z-index: 999;
    width: 25px;
    top: 60%;
    left: 0px;
  }
  .npciLogo {
    /* width: 215px; */
    text-align: center;
    position: absolute;
    font-size: 6px;
    font-weight: bolder;
    line-height: 5px;
    left: 42%;
    z-index: 999;
    color: #f3f3f3;
  }
  .npciLogo img {
    width: 100px;
  }

  #closebtn {
    display: none;
  }
  .thinking-modal {
    background: #1e1d1d57;
    width: 100%;
    position: absolute;
    bottom: 18%;
  }
  .thinkimg {
    margin-left: 20%;
    width: 40%;
    padding: 10px;
  }
  #fortisLogo {
    width: 42px !important;
    right: 0px;
    padding: 12px;
    background: white;
    border-radius: 3px;
    margin-top: 4px;
  }
  .powered_logo {
    margin-top: 10px;
    position: absolute;
    text-align: center;
    right: 2%;
    z-index: 110;
    color: white;
    text-decoration: none;
    font-size: 8px !important;
  }
  #form-div {
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    border: 1px solid white;
    padding: 8px;
    width: 270px;
    position: absolute;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
  }
  #button-blue {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    /* padding: 10px 15px; */
    color: #53e3a6;
    font-size: 24px;
    padding: 5px;
    /* padding-top: 22px; */
    /* padding-bottom: 22px; */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 500;
  }
  .corover-start {
    color: white;
    background: linear-gradient(
      45deg,
      rgb(45, 141, 45) 0%,
      rgb(62, 163, 53) 12%,
      rgb(79, 173, 67) 25%,
      rgb(58, 150, 55) 39%,
      rgb(35, 128, 23) 50%,
      rgb(5, 77, 2) 51%,
      rgb(6, 68, 0) 60%,
      rgb(7, 95, 11) 76%,
      rgb(4, 80, 1) 91%,
      rgb(10, 71, 5) 100%
    );
    background-color: rgba(0, 0, 0, 0);
    border: green 1px solid;
    padding: 17px 10px;
    width: 150px;
    text-align: center;
    border-radius: 59px;
    border: white 3px solid;
    box-shadow: 0 0 4px #919191;
    cursor: pointer;
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0px;
    font-size: 16px;
  }
  .aboutCorona {
    line-height: 10px;
    z-index: 999;
    position: absolute;
    font-size: 9px;
    top: 55%;
    left: 30%;
    right: 30%;
    text-align: center;
    color: #fefefe;
  }
  .framewindow {
    display: none;
  }
  .privacy {
    left: 25%;
    right: 25%;
    font-size: 9px;
    color: white;
    z-index: 999;
    position: absolute;
    bottom: 6px;
  }

  .showMic {
    opacity: 1;
    width: 270px;
    bottom: -3%;
  }
  .nav-item {
    font-size: 10px;
  }
  .nav-link {
    margin: 0px;
  }
  .navbar {
    top: 0px;
    width: 0rem;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0px;
  }

  .navbar .logo-text {
    font-size: 11px;
    font-weight: bolder;
    line-height: 15px;
    /* left: 50px; */
  }
  .closetrend {
    font-size: 10px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 650px) {
  /* .framewindow {
      width: 160px !important;
      height: 170px !important;
  }*/
}

.ios_mobile {
  font-size: 13px;
  color: #fefefe;
}

.powered_logo {
  margin-top: 10px;
  position: absolute;
  text-align: center;
  right: 2%;
  z-index: 110;
  color: white;
  text-decoration: none;
  font-size: medium;
}

.mic-demon-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0e0e0e61;
  width: 100%;
  height: 100%;
  z-index: 9999999999999;
}

.mic-demonstration {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  z-index: 10000;
}

@media screen and (orientation: portrait) {
  #full_slider .carousel-item video {
    height: 50vh !important;
    width: auto !important;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
#full_slider {
  overflow: hidden;
  /* background: #010001; */
}

#full_slider .carousel-item {
  overflow: hidden;
  transition: transform 1.6s ease-in-out;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

#full_slider .carousel-item {
  overflow: hidden;
  transition: transform 1.6s ease-in-out;
  height: 60vh;
  align-items: center;
  width: 50%;
  margin: auto;
}

#full_slider .carousel-item video {
  position: absolute;
  left: 0;
  top: 0;
  width: 50vw;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  /* z-index: -1; */
}

#full_slider .carousel-item .video-caption {
  max-width: 768px;
  padding: 0 65px;
  color: #fff;
}

#full_slider .carousel-item h3 {
  font-weight: 900;
}

#full_slider .carousel-item.active {
  display: flex !important;
  position: relative;
}

#full_slider .carousel-item.left-slide,
#full_slider .carousel-item.right-slide {
  display: flex !important;
}

#full_slider .carousel-item-left,
#full_slider .carousel-item-right {
  display: flex !important;
}

@media screen and (orientation: portrait) {
  #full_slider .carousel-item video {
    height: 50vh !important;
    width: auto !important;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

.popup-container {
  position: fixed;
  height: 100%;
  z-index: 1000;
  width: 100%;
}

.popup {
  transition: 500ms all;
  position: relative;
  height: auto;
  width: 217px;
  margin-top: 70px;
  float: right;
  right: 12px;
  padding: 25px 25px 10px 25px;
  border-radius: 10px;
  align-items: right;
  text-align: left;
  z-index: 1000;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.popup p {
  margin-top: 0;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
}
.popup a {
  color: gainsboro;
}
.popup .close {
  position: absolute;
  top: 8px;
  font-size: 0;
  right: 8px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 200px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}
.content::-webkit-scrollbar {
  width: 0px !important;
}

.stp-btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 3px;
  background: #ffff;
  float: right;
  cursor: pointer;
  width: 30px;
  font-size: 10px;
  margin-right: -21px;
  bottom: 4px;
  font-family: Nunito;
  text-align: center;
  padding-top: 5px !important;
  border-radius: 11px;
  color: #fff;
  position: relative;
}
.stp-btn span {
  margin-right: 5px;
  color: #4b4b4b;
}
.stp-btn img {
  width: 10px;
}

.ply-btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 3px;
  background: #ffff;
  float: right;
  cursor: pointer;
  width: 30px;
  font-size: 10px;
  margin-right: -21px;
  bottom: 4px;
  font-family: Nunito;
  text-align: center;
  padding-top: 5px !important;
  border-radius: 11px;
  color: #fff;
  position: relative;
}
.ply-btn span {
  margin-right: 5px;
  color: #4b4b4b;
}
.ply-btn img {
  width: 10px;
}

#textAnswer {
  white-space: pre-wrap;
}
#latestinfo {
  color: white;
  position: absolute;
  left: 10px;
  z-index: 99;
  bottom: 0px;
}

.medtel {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9999999999999;
  transform: translate(-50%, -50%);
}

#closebtnmedtel {
  width: 34px;
  position: fixed;
  float: right;
  right: -20px;
  top: -13px;
}
.med_image {
  width: 600px;
}

@media screen and (orientation: portrait) {
  .popup {
    transition: 500ms all;
    position: relative;
    height: auto;
    width: 217px;
    margin-top: 70px;
    float: right;
    right: 12px;
    padding: 25px 25px 10px 25px;
    border-radius: 10px;
    align-items: right;
    text-align: left;
    z-index: 1000;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }
  .med_image {
    width: 300px;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .popup {
    transition: 500ms all;
    position: relative;
    height: auto;
    width: 180px;
    margin-top: 70px;
    float: right;
    right: 12px;
    padding: 25px 25px 10px 25px;
    border-radius: 10px;
    align-items: right;
    text-align: left;
    z-index: 100000000;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }
  .med_image {
    width: 300px;
  }
}

.owl-carousel {
  position: absolute !important;
  bottom: 0px;
  background: white;
}

.owl-carousel .item a img {
  height: 40px;
}

#supportText {
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  bottom: 25px;
  left: 46%;
}

/*hungama widget*/
.Hungama_widgetBox {
  padding: 17px 10px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 340px;
  height: 70px;
  transition: all 0.5s;
}

.Hungama_widgetBox.expand {
  height: 500px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.closebtn {
  position: absolute;
  right: 0;
  top: -18px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .closebtn {
    right: 7%;
  }
}

.nextInput {
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
  justify-content: space-around;
}
.listeningForm {
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
}

.switch-button {
  width: 400px;
  height: 40px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
  transform: translate3D(-50%, -50%, 0);
  will-change: transform;
  z-index: 197 !important;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border: 1px solid white;
}
.switch-button-case {
  display: inline-block;
  background: none;
  width: 49%;
  height: 100%;
  color: white;
  position: relative;
  border: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 1px;
}
.switch-button-case:hover {
  color: grey;
  cursor: pointer;
}
.switch-button-case:focus {
  outline: none;
}
.switch-button .active {
  color: #151515;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}
.switch-button .active-case {
  color: #151515;
}

.signature {
  position: fixed;
  font-family: sans-serif;
  font-weight: 100;
  bottom: 10px;
  left: 0;
  letter-spacing: 4px;
  font-size: 10px;
  width: 100vw;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-container {
  width: 100%;
}

.btn-container i {
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #424242;
  font-weight: 500;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 140px;
  height: 30px;
  background: #e0e0e0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert {
  display: none;
  background: #ff9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner {
  /* background: #151515; */
  /* color: #fff; */
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 68px;
  /* background: #3c3c3c; */
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner {
  /*background: #66BB6A; */
  /*color: #fff;*/
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

/*mode preview*/
.dark-preview {
  background: #0d0d0d;
}

.dark-preview .btn-container i.fa-sun-o {
  color: #777;
}

.dark-preview .btn-container i.fa-moon-o {
  color: #fff;
  text-shadow: 0px 0px 11px #fff;
}

.white-preview {
  background: #fff;
}

.white-preview .btn-container i.fa-sun-o {
  color: #ffa500;
  text-shadow: 0px 0px 16px #ffa500;
}

.white-preview .btn-container i.fa-moon-o {
  color: #777;
}

p.by {
}

p.by a {
  text-decoration: none;
  color: #000;
}

.dark-preview p.by a {
  color: #777;
}

.white-preview p.by a {
  color: #000;
}

.formValue {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 13px 13px 13px 13px;
  margin-bottom: 10px;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
}
.languageForm {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 400;

  white-space: nowrap;

  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;

  float: left;
  line-height: 1.42857143;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: white;
}

